.digital-clock {
  display: flex;
  justify-content: center;
  width: 23.5rem;
  height: 5.2rem;
  background-color: #4d4d4d;
  border-radius: 1rem;
  color: white;
  font-size: 4.5rem;
  font-weight: bold;
  align-items: center;

  &__time {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 1rem;
  }
}
